:root {
    --main: #0d1116;
    --font: #ededed;
    --font-light: #b1b1b1;
    --font-disabled: #585858;
    --fill: #161b22;
    --fill-light: #2a323e;
    --border: #30363d;
    --link: #2f81f7;
    --glass: rgba(30, 30, 34, 0.65);
    --border-radius-low: 5px;
    --border-radius-mid: 10px;
}

body {
    background: var(--main);
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Custom Classes */
.text-shadow {
    -moz-text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.glass {
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    background-color: var(--glass);
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

.splitter {
    width: 100%;
    height: 2px;
    background-color: var(--fill);
}

.full-width {
    width: 100%;
}

.click-item {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.justify-center {
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.no-select {
    -webkit-user-select: none;
    user-select: none;
}

.visible {
    opacity: 1 !important;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.disabled-text {
    color: var(--font-disabled);
}

.disabled-button {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.disabled-button p,
.disabled-button i {
    color: var(--font-light);
    pointer-events: none;
}

.light-text {
    color: var(--font-light);
}

.small-text {
    font-size: 14px;
}

.link-text {
    text-decoration: underline;
}

.gradient-button {
    background-image: url("/Mesh_1.png");
    background-size: 400% auto;
    background-position: center;
}

/* HTML Tags */
a,
button,
select,
input,
a *,
button * {
    cursor: pointer;
}

*,
i {
    color: var(--font);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a,
p,
button {
    font-size: 16px;
    font-weight: 400;
}

ul,
ol {
    list-style-type: none;
}

select::-ms-expand {
    display: none;
}

menu {
    all: unset;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
    border: none;
}

input,
button {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 500;
}

img {
    background-color: var(--fill-light);
}

/* Scrollbar */
.scrollbar::-webkit-scrollbar {
    width: 7px;
}

.scrollbar::-webkit-scrollbar-track {
    box-shadow: var(--main);
}

.scrollbar::-webkit-scrollbar-thumb {
    background: var(--font-light);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--font);
}