.page-description {
    font-weight: normal;
    margin-bottom: 10px;
}

.chapter {
    cursor: pointer;
    position: relative;
    margin: 15px 0;
}

.anchored-chapter {
    background: linear-gradient(to right, #fcd967 0%, #f68585 39%, #cb79e8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.chapter .icon {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    left: -30px
}

.chapter:hover h2 {
    text-decoration: underline;
}

.chapter:hover .icon {
    opacity: 1;
}

.paragraph {
    margin: 15px 0 10px 0;
    color: var(--font-light);
}

.list {
    margin: 15px 0 0 25px;
}

.sub-list {
    margin-bottom: 15px;
}

.list-item {
    position: relative;
}

.list-item::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: -20px;
    top: 8px;
    border-radius: 50%;
    background: var(--border);
}

.sub-list {
    margin-left: 50px;
}

.note-container {
    border: 1px solid;
    gap: 20px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: var(--border-radius-mid);
    width: 100%;
    align-items: flex-start;
}

.note-container-info {
    border-color: #51829B;
}

/* Color the blank svg image */
.note-container-info .icon {
    filter: invert(50%) sepia(26%) saturate(670%) hue-rotate(156deg) brightness(90%) contrast(86%);
}

.note-container-warning {
    border-color: #EF9C66;
}

.note-container-warning .icon {
    filter: invert(62%) sepia(89%) saturate(351%) hue-rotate(331deg) brightness(99%) contrast(89%);
}

.note-container-success {
    border-color: #658147;
}

.note-container-success .icon {
    filter: invert(47%) sepia(32%) saturate(524%) hue-rotate(46deg) brightness(92%) contrast(90%);
}

.note-container-error {
    border-color: #d7654b;
}

.note-container-error .icon {
    filter: invert(52%) sepia(49%) saturate(763%) hue-rotate(322deg) brightness(88%) contrast(90%);
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 15px 0;
}

th {
    background-color: var(--fill);
    border-bottom: 1px solid var(--border);
    font-weight: 600;
}

th:not(:first-of-type) {
    border-left: 1px solid var(--border);
}

th,
td {
    padding: 10px;
    text-align: left;
}

td {
    border-bottom: 1px solid var(--border);
}

.table-type-data thead th:first-of-type,
.table-type-data tbody td:first-of-type {
    width: 75px;
}

.table-type-data tbody td:first-of-type {
    font-weight: 600;
    background-color: var(--fill);
}

table th[table-sortable-item] div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    user-select: none;
    position: relative;
}

table th[table-sortable-item] div .icon {
    opacity: 0;
    transition: opacity 0.3s;
}

table th[table-sortable-item]:hover div .icon {
    opacity: 1;
}