/* Themes */
:root {
    --white: #FFFFFF;
}

:root.cobalt {
    --main: #0D1116;
    --font: #EDEDED;
    --font-light: #B1B1B1;
    --font-disabled: #585858;
    --fill: #161B22;
    --fill-light: #2A323E;
    --border: #30363D;
    --link: #2F81F7;
    --glass: rgba(30, 30, 34, 0.65);
}

:root.slate {
    --main: #252525;
    --font: #FFFFFF;
    --font-light: #B9B9B9;
    --font-disabled: #585858;
    --fill: #2D2D2D;
    --fill-light: #2A2A2A;
    --border: #3E3E3E;
    --link: #408FFF;
    --glass: rgba(26, 26, 26, 0.65);
}

:root.north {
    --main: #FCFCFC;
    --font: #000000;
    --font-light: #494949;
    --font-disabled: #919191;
    --fill: #FFFFFF;
    --fill-light: #F4F4F4;
    --border: #cecece;
    --link: #004EBC;
    --glass: rgba(239, 239, 239, 0.65);
}

:root.mokka {
    --main: #F8F2E6;
    --font: #000000;
    --font-light: #494949;
    --font-disabled: #919191;
    --fill: #F5EEE2;
    --fill-light: #E6E0D5;
    --border: #C3B8A5;
    --link: #004EBC;
    --glass: rgba(234, 229, 219, 0.65);
}

.mokka,
.north {
    .gradient-button .icon {
        filter: invert(1);
    }

    .gradient-button p {
        color: var(--main);
    }

    .icon-light {
        filter: invert(0.3);
    }

    .icon {
        filter: invert(0);
    }
}

/* Theme Selector */
.theme-preview-item {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #4B4B4B;
}

.theme-preview-item-cobalt {
    background-color: #293543;
}

.theme-preview-item-slate {
    background-color: #4D4D4D;
}

.theme-preview-item-north {
    background-color: #FCFCFC;
}

.theme-preview-item-mokka {
    background-color: #C2B8A6;
}