:root {
    --main: #141414;
    --font: #e3e3e3;
}

body {
    background: var(--main);
    transition: 0.3s;
    font-size: 15px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    color: var(--font);
    margin: 0;
    padding: 0;
}

/* Custom Classes */
.text-shadow {
    -moz-text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.click-item {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.no-select {
    user-select: none;
}

.visible {
    opacity: 1;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gradient-button {
    background-image: linear-gradient(to right, #3977a0 0%, #68589f 39%, #3977a0 100%);
    background-size: 200% auto;
}

/* HTML Tags */
a,
button,
select,

input,
a *,
button * {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a,
p {
    font-size: medium;
}

ul,
ol {
    list-style-type: none;
}

select::-ms-expand {
    display: none;
}

menu {
    all: unset;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
    border: none;
}

input,
button {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 500;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ACACAC;
}

::-webkit-scrollbar-thumb {
    background: #ACACAC;
}

::-webkit-scrollbar-thumb:hover {
    background: #ACACAC;
}