/* Pill Buttons */
.navbar-pill {
    justify-content: center;
    border-radius: var(--border-radius-low);
    border: 1px solid var(--border);
    background-color: var(--fill);
    height: 35px;
    box-sizing: border-box;
    padding: 5px;
    width: 35px;
    transition: width 0.5s, background-color 0.5s;
}

.navbar-pill:hover,
.navbar-pill-expand {
    background-color: var(--border);
    width: 120px;
}

.navbar-pill p {
    overflow: hidden;
    text-align: left;
    opacity: 0;
    width: 0;
    transition: width 0.6s, opacity 1s;
}

.navbar-pill:hover p,
.navbar-pill-text-expand,
.navbar-pill-expand p {
    opacity: 1;

    width: 85px;
    transition: width 0.6s, opacity 1s;
}

.navbar-pill i {
    font-size: 14px;
    color: var(--font-light);
    margin-right: 4px;
    transition: color 0.6s;
}

.navbar-pill:hover i {
    color: var(--font);
}

/* Dropdowns */
.dropdown-menu {
    position: absolute;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    top: 40px;
    width: 0;
    opacity: 0;
    height: 0;
    border-radius: var(--border-radius-low);
    background-color: var(--fill);
    border: 1px solid var(--border);
    transition: height 0.8s, opacity 0.7s, width 0.8s;
    overflow: hidden;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu-left {
    right: -2px;
}

.dropdown-menu-right {
    left: -1px;
}

.dropdown-expand {
    height: 55px;
    width: 170px;
    opacity: 1;
    transition: height 0.4s, opacity 0.3s,
        width 0.4s;
}