/* Pill Buttons */
.navbar-pill {
    justify-content: center;
    border-radius: var(--border-radius-low);
    border: 1px solid var(--border);
    background-color: var(--fill);
    height: 35px;
    box-sizing: border-box;
    padding: 5px;
    width: 35px;
    transition: width 0.5s, background-color 0.5s;
}

.navbar-pill:hover,
.navbar-pill-expand {
    background-color: var(--border);
    width: 120px;
}

.navbar-pill p {
    overflow: hidden;
    text-align: left;
    opacity: 0;
    width: 0;
    transition: width 0.6s, opacity 1s;
}

.navbar-pill:hover p,
.navbar-pill-text-expand,
.navbar-pill-expand p {
    opacity: 1;
    width: 85px;
}

.navbar-pill i {
    font-size: 14px;
    color: var(--font-light);
    margin-right: 4px;
    transition: color 0.6s;
}

.navbar-pill:hover i {
    color: var(--font);
}

/* Dropdowns */
.dropdown-menu {
    position: absolute;
    box-sizing: border-box;
    padding: 5px 5px 5px 10px;
    top: 40px;
    width: 170px;
    opacity: 0;
    height: 0;
    right: -2px;
    border-radius: var(--border-radius-low);
    background-color: var(--fill);
    border: 1px solid var(--border);
    transition: height 0.4s, opacity 0.3s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    z-index: 3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-container {
    position: relative;
}

.dropdown-menu-left {
    right: -2px;
}

.dropdown-menu-right {
    left: -1px;
}

.dropdown-expand {
    height: 55px;
    opacity: 1;
}